{% load static %}
{% load django_bootstrap5 %}
<html>
<head>
    <meta charset="utf-8">
    <title>CivicSeek</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'snippets/css/style.css' %}">
    {% block extraheader %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand flex-md-row navbar-dark bg-dark">
    <div class="container justify-content-between">
        <a href="/" class="navbar-brand">CivicSeek</a>
        <ul class="navbar-nav mr-md-2">
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">LOGOUT</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">LOGIN</a></li>
            {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">SIGNUP</a></li> {% endcomment %}
            {% endif %}
        </ul>
    </div>
</nav>
<main>
    <div class="container">
        {% bootstrap_messages %}
        {% block main %}{% endblock %}
    </div>
</main>
</body>
</html>